<div class="w3-panel w3-yellow ">
	<h6 style="text-align: center">발전량 범위</h6>
</div>


<table class="w3-table" style="margin-right: 100px; font-size: 17px"
	summary="발전량 설명">
	<tbody>


		<tr>



			<th height="50dp">범위 (v)</th>


			<th class='solar_1'>0~3.0</th>
			<th class='solar_2'>3.0~3.5</th>
			<th class='solar_3'>3.5~4.0</th>
			<th class='solar_4'>4.0~4.5</th>
			<th class='solar_5'>4.5~5.0</th>
		</tr>


		<tr>



			<th height="50dp">감소율 (v)</th>


			<th class='solar_1'>-40%</th>
			<th class='solar_2'>-30%</th>
			<th class='solar_3'>-20%</th>
			<th class='solar_4'>-10%</th>
			<th class='solar_5'>0%</th>
		</tr>



		<tr>
			<th height="50dp">등급</th>
			<th class='solar_1'>매우 나쁨</th>
			<th class='solar_2'>나쁨</th>
			<th class='solar_3'>보통</th>
			<th class='solar_4'>좋음</th>
			<th class='solar_5'>매우 좋음</th>

			</th>
		</tr>

		<tr>
			<th height="50dp">청소</th>
			<th class='solar_1'>ON</th>
			<th class='solar_2'>ON</th>
			<th class='solar_3'>ON</th>
			<th class='solar_4'>OFF</th>
			<th class='solar_5'>OFF</th>

			</th>
		</tr>
</table>

