
<header class="w3-container w3-teal w3-padding-large"  >
	<h2>태양광 패널 청소 관리시스템</h2>
</header>
<header>
	<nav class="w3-section w3-bottombar w3-padding-16 w3-teal">
		<button class="w3-margin-left w3-button w3-black" id="dashboard">Happy Iot World</button>
		<button class="w3-button w3-black" id="solarlist">Data List view</button>
		<button class="w3-button w3-black" id="linechart">Data Chart View</button>
		
		
		
	</nav>
</header>



			